#include <windows.h>
#include "version.h"

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "H4des Emulator.ico"

1 VERSIONINFO
FILEVERSION RC_FILEVERSION
PRODUCTVERSION RC_FILEVERSION
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "041604E4"
		 {
			 VALUE "CompanyName", "Project H4des"
			 VALUE "FileVersion", ""
			 VALUE "FileDescription", "H4des Server"
			 VALUE "InternalName", ""
			 VALUE "LegalCopyright", "Copyright (C) 2009 Project H4des"
			 VALUE "LegalTrademarks", ""
			 VALUE "OriginalFilename", "H4des Emulator.EXE"
			 VALUE "ProductName", "H4des Emulator"
			 VALUE "ProductVersion", ""
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0416, 1252
	 }
}
